@import url(./style/Card.css);
@import url(./style/KanbanBoard.css);
*{
  gap:5px;
}
.Filter {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  padding: 1vw 2vw;
  /* margin-left:2vw; */

}
.Filter:hover .Filter-Container {
  display: initial;
}
.Filter img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}
.Filter h5 {
  font-size: 18px;
}
.Filter-Container {
  display: none;
  position: absolute;
  height: 100px;
  width: 300px;
  top: 100%;
  background: #f1ecec;
  /* display: none; */
}
.Filter-Container-Item {
  display: flex;
  align-items: center;
}
.Filter-Container-Item p {
}
.Filter-Container-Item select {
  padding: 5px 10px;
  border: 1px solid #ddcfcf;
  color: #8b8080;
  cursor: pointer;

}
.Filter-Container-Item select option {
}
